{{ partial "header.html" . }}

{{ .Content }}

<footer class=" footline" align="right" >
	{{with $.Date}} <i class='fa fa-calendar'></i> Last Modified: {{ .Format "2006.01.02" }}{{end}}
	</div>
</footer>


{{if not .Content }}
	{{ $paginator := .Paginator }}

	<div class="extra-pagination inner">
	{{ partial "pagination.html" $paginator }}
	</div>

	{{ range $index, $page := $paginator.Pages }}
	   {{ .Render "li" }}
	{{ end }}

	<div style="margin-bottom:2rem"></div>

	{{ partial "pagination.html" $paginator }}
{{end}}

{{ partial "footer.html" . }}